  {{ define "main" }}


  <div class="accordion" id="cart-accordion">
    <div class="searchButton_accordeon">
      <form action="/search/" method="GET">
        <input type="text" id="search" name="s" placeholder="Search" />
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>
    <div class="accordion-item">
      <a href="/#list_h1" class="accordion-link" onclick="closeAccordion(event)">PORTOFOLIO</a>
      <a href="https://github.com/DaddyAnanta1/" target="_blank" rel="noopener noreferrer">GITHUB</a>
      <a href="https://medium.com/@daddyananta" target="_blank" rel="noopener noreferrer">MEDIUM</a>
    </div>
    <button class="accordion-button" onclick="togglePanel(this)">
      Category
      <span class="accordion-icon">&#9660;</span> <!-- Gunakan simbol Unicode -->
    </button>

    <div class="panel">
      <div class="accordion-category_page">
        {{ range $.Site.Taxonomies.categories.ByCount }}
        <a class="accordion-category-link" href="/categories/{{ .Name }}">
          <span class="accordion-category-name">{{ .Name | title }}</span>
        </a>
        {{ end }}
      </div>

    </div>
  </div>
  <div class="page-wrapper">
  {{ $toc := .TableOfContents }}
  {{ if and (gt .WordCount 200) $toc }} 

  <aside class="toc-sidebar">
    <nav id="TableOfContents">
      <strong>Content</strong> 
      {{ $toc }}
    </nav>
  </aside>
  {{ end }}


  <div class="single">
    <div class="singleHead">
      <div class="singleHeadTexts">
        <h1 class="singleHeadTitle">{{ .Title }}</h1>
        <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
        <div class="singleHeadDetail">
          {{ if and (.Params.ShowPageViews | default (.Site.Params.ShowPageViews | default true)) }}
          {{- partial "page_views.html" . -}}
          {{ end }}


          

          <!-- Menampilkan kategori -->
          <div class="single-categories" style="display: flex; gap: 10px; align-items: center; margin-right: 20px;">
            {{ range (.GetTerms "categories") }}
            <a href="{{ .Permalink }}" style="text-decoration: none; color: #000;">{{ .Name }}</a>
            {{ end }}
          </div>

          <!-- Menampilkan Word Count & Reading Time -->
          <div class="reading-stats" style="display: flex; gap: 10px; align-items: center;">
            <!-- Word Count -->
            <span class="single-meta-item" style="display: flex; align-items: center;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M14 2H6A2 2 0 004 4v16a2 2 0 002 2h12a2 2 0 002-2V8z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
              </svg>

              &nbsp;<span>{{ .WordCount }}</span>
              <span style="margin-left: 5px; margin-right: 20px;">words</span>
            </span>

            <!-- Reading Time -->
            <span class="meta-item" style="display: flex; align-items: center;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 6 12 12 16 14"></polyline>
              </svg>
              &nbsp;<span>{{ .ReadingTime }}</span>
              <span style="margin-left: 5px;">min</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="singleBottom">
      <div class="singleContent">
        <img src={{ .Params.imageBig }} alt={{.Title}} class="singleHeadImg">
        <p class="singleHeadDesc">{{ .Params.description }}</p>
        <div class="singlePlotly">
          <!-- Konten plotly atau grafik lainnya bisa ditambahkan di sini -->
        </div>

        <nav class="TableOfContents">
          <button class="toc-toggle" onclick="toggleToC()">Table of Contents</button>
          <div id="toc-content">
            {{ .Page.TableOfContents }}
          </div>
        </nav>
        <article>
          {{ .Content }}
        </article>
        {{ if .Params.tags }}
        <div class="single-tags">
          <div class="single-icon-tag">
          <svg class="icon icon-tag" width="20" height="20" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.41 11.58 12.42 2.59A2 2 0 0 0 11 2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 .59 1.42l8.99 8.99a2 2 0 0 0 2.83 0l7-7a2 2 0 0 0 0-2.83ZM6.5 7A1.5 1.5 0 1 1 8 5.5 1.5 1.5 0 0 1 6.5 7Z"/>
          </svg>
          </div>
          {{ range .Params.tags }}
            <a href="{{ "tags" | absLangURL }}/{{ . | urlize }}/" class="tag">{{ . }}</a>&nbsp;
          {{ end }}
        </div>
        {{ partial "socialshare.html" . }}
        {{ end }}

        <div class="singleRelatedPosts">
          <h2>Related Posts</h2>
          <ul>
            {{ range first 8 .Site.RegularPages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>


    <!-- Pagination Section -->
    <div class="singlePagination">
      {{ if .Prev }}
      <a href="{{ .Prev.Permalink }}" class="pagination-link prev" data-url="{{.Permalink }}">
        ⬅️ Previous
      </a>
      {{ end }}
      {{ if .Next }}
      <a href="{{ .Next.Permalink }}" class="pagination-link next">
        Next ➡️
      </a>
      {{ end }}
    </div>
  </div>
  </div>


  <script>
    function toggleToC() {
      const toc = document.getElementById("toc-content");
      toc.style.display = (toc.style.display === "none" || toc.style.display === "") ? "block" : "none";
    }
  </script>

  {{ end }}
